@import '../commen/css/base';

$bgColor: #fff;
$imgItemPadding: 20px;

body{
  width: 100%;
  height: 100%;
}

.wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-right: 20px;

  background-color: $bgColor;
}

.title{
  text-align: center;
  margin: 20px auto;
  letter-spacing: 0.05em;
}

.imgItem{
  position: absolute;
  float: left;
  box-sizing: border-box;
  padding: $imgItemPadding 0 0 $imgItemPadding;

  div{
    width: 100%;
    text-align: center;
    color: #fff;
  }

  .imgSrc{
    height: calc(100% - 30px);
    width: 100%;
    display: table;
    box-sizing: border-box;
    font-size: 1.5em;
    background-color: #000;


    h3{
      display: table-cell;
      vertical-align: middle;
    }
  }

  .imgTitle{
    background-color: #666666;
    line-height: 30px;
    font-size: 0.9em;
  }
}

